{% extends "base.html" %}
{% load static %}
{% block title %}
    企业理念
{% endblock %}
{% block content %}
    <link href="{% static 'css/productDetail.css' %}" rel="stylesheet">
    <link href="{% static 'css/product.css' %}" rel="stylesheet">
    <div class="wrap">


        <section class="main-container container">
            <div class="row">

                <div class="col-md-12" style="margin-top: 200px;">
                    <h3>My Melody</h3>
                </div>


                <div class="col-md-9" id="content">

                    <div class="content">
                        <div class="mtb20"><img src="/static/img/MM.png" class="full"/>
                        </div>
                        <div class="mtb20">

                            <h4>相关人物介绍</h4>

                            <div class="clearfix">


                                <div class="col-md-6">

                                    <div class="clearfix otherDetail">
                                        <div class="col-md-4 text-center vm">
                                            <img src="/static/img/Mole_0.png">
                                        </div>
                                        <div class="col-md-8 vm">
                                            <h5>土拨鼠</h5>
                                            <p>认真的努力家</p></div>
                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="clearfix otherDetail">
                                        <div class="col-md-4 text-center vm">
                                            <img src="/static/img/Dr.%20Owl_0.png">
                                        </div>
                                        <div class="col-md-8 vm">
                                            <h5>猫头鹰爷爷</h5>
                                            <p>知识丰富的老爷爷</p></div>
                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="clearfix otherDetail">
                                        <div class="col-md-4 text-center vm">
                                            <img src="/static/img/Bird_0.png">
                                        </div>
                                        <div class="col-md-8 vm">
                                            <h5>小鸟</h5>
                                            <p>歌声优雅</p></div>
                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="clearfix otherDetail">
                                        <div class="col-md-4 text-center vm">
                                            <img src="/static/img/Butterfly_0.png">
                                        </div>
                                        <div class="col-md-8 vm">
                                            <h5>蝴蝶</h5>
                                            <p>负责带大家去花园</p></div>
                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="clearfix otherDetail">
                                        <div class="col-md-4 text-center vm">
                                            <img src="/static/img/Duck_0.png">
                                        </div>
                                        <div class="col-md-8 vm">
                                            <h5>鸭子</h5>
                                            <p>性格开朗，喜欢玩水</p></div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>

 <div class="col-md-3" id="rightSlide">

                    <div id="block-views-family-block-family-switch" class="block block-views even">


                        <div class="family-group">
                            <div class="family-group-up"></div>
                            <div class="family-group-main">
                                <ul>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:download' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/dowlond2.png "
                                                    class="full" style="width: 60px;
    margin-left: 8px;"></div>
                                            <div class="col-md-7 vm">
                                                <p style="margin-top: 2px;
    margin-left: -5px;
}">相关资料下载</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:honor' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/hellokitty_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Hello Kitty</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:melody' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/melody_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>My Melody</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/twinstars_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>LittleTwinStars</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/cinnamoroll_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Cinnamoroll </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/maru_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Bad Badtz Maru</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/keroppi_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Kero Kero Keroppi</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/kuromi_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Kuromi</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/gudetama_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Gudetama</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/pompom_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Pom Pom Purin</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/%E5%AE%98%E7%B6%B2%E8%82%96%E5%83%8F_%E7%94%BB%E6%9D%BF%2029%20%E5%89%AF%E6%9C%AC%202.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Marumofubiyori</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/%E5%AE%98%E7%B6%B2%E8%82%96%E5%83%8F_%E7%94%BB%E6%9D%BF%2029%20%E5%89%AF%E6%9C%AC%205.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Hummingmint</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/%E5%AE%98%E7%B6%B2%E8%82%96%E5%83%8F_%E7%94%BB%E6%9D%BF%2029%20%E5%89%AF%E6%9C%AC%203.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Shinkaizoku</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/%E5%AE%98%E7%B6%B2%E8%82%96%E5%83%8F_%E7%94%BB%E6%9D%BF%2029%20%E5%89%AF%E6%9C%AC%204.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>SANRIO BOYS</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/%E5%AE%98%E7%B6%B2%E8%82%96%E5%83%8F_%E7%94%BB%E6%9D%BF%2029%20%E5%89%AF%E6%9C%AC.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Aggretsuko</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/shinkansen_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Shinkansen</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/jewel_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Jewelpet</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/sugar_no_bg_0.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Sugarbunnies</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/coro_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Coro Coro Kuririn</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/wish_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Wishmemell</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/bonbonribbon_b.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Bonbonribbon</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/tuxedo_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>TuxedoSam</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/charmmy_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Charmmy Kitty</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/tingchum_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Tinychum</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/pochacco_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Pochacco</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/runabouts_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>The Runabouts</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="family-group-item clearfix">
                                        <a href="{% url 'productsApp:survey' %}">
                                            <div class="col-md-5 text-center"><img
                                                    src="/static/img/usahana_no_bg.png"
                                                    class="full"></div>
                                            <div class="col-md-7 vm">
                                                <p>Usahana</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="family-group-down"></div>
                        </div>
                        <script type="text/javascript">

                            var familyScroll = function () {
                                var up = $(".family-group-up");
                                var down = $(".family-group-down");
                                var list = $(".family-group-item");
                                var length = list.length;
                                var page = Math.ceil(length / 10);
                                var now = 1;
                                var ul = $(".family-group-main ul")

                                var scrollFunction = function (m) {
                                    if (now == 1 || now == page) {
                                        n = length % 10;
                                    } else {
                                        n = 10;
                                    }

                                    console.log(n);

                                    var t = parseInt($(ul).css("top"));
                                    if (now == 1) {
                                        var finnal = 0;
                                    } else {
                                        var finnal = n * m * 86 + t;
                                    }
                                    $(ul).animate({
                                        top: finnal
                                    }, 500)

                                }

                                $(down).bind("click", function () {
                                    if (now >= page) {
                                        return false;
                                    }
                                    now++;
                                    scrollFunction(-1);
                                })

                                $(up).bind("click", function () {
                                    if (now == 1) {
                                        return false;
                                    }
                                    now--;
                                    scrollFunction(1);
                                })


                            }

                            familyScroll();

                        </script>
                    </div>


                    <div class="bannerlist">
                    </div>
 </div>


            </div>
        </section>


            <div id="block-block-8" class="block block-block first last odd">


                <script>
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                    ga('create', 'UA-72036500-1', 'auto');
                    ga('send', 'pageview');

                </script>
            </div>
    </div>
{% endblock %}