{% extends "base.html" %}
{% load static %}
{% block title %}
    首页
{% endblock %}
{% block content %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <div class="wrap">


        <div class="main-container container">
            <div class="row" style="    margin-top: 199px;">
                <div class="col-md-7" style="    padding-top: 30px;">

                    <section id="kv_wrap">
                        <a href="http://www.sanrio.com.cn/scope-business.html">
                            <img src="/static/img/kv.jpg" alt="kv" style="width: 100%;     margin-top: 25px;
}"/>
                        </a>

                    </section>

                </div>

                <div class="col-md-4" id="rightSlide">
                    <section>
                        <iframe width="100%" height="350" class="share_self" frameborder="0" scrolling="no"
                                src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=350&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=1797901553&verifier=89503826&dpc=1"></iframe>

                    </section>
                </div>

            </div>
        </div>


        <script type="text/javascript">

            var options = {
                $AutoPlay: true,
                $AutoPlayInterval: 4000,
                $BulletNavigatorOptions: {
                    $Class: $JssorBulletNavigator$,
                    $ChanceToShow: 2,
                    $AutoCenter: 1,
                    $Steps: 1,
                    $Lanes: 1,
                    $SpacingX: 8,
                    $SpacingY: 8,
                    $Orientation: 1,
                    $Scale: false
                }
            }

            var jssor_slider = new $JssorSlider$("slider_container", options);

            function ScaleSlider() {
                var bodyWidth = $("#kv_wrap").width();
                if (bodyWidth)
                    jssor_slider.$ScaleWidth(Math.min(bodyWidth, 1920));
                else
                    window.setTimeout(ScaleSlider, 30);
            }

            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
        </script>

        <div id="block-block-8" class="block block-block first last odd">


            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-72036500-1', 'auto');
                ga('send', 'pageview');

            </script>
        </div>
    </div>
{% endblock %}